<div class="persotype-import-nhl-ftp-folder">
	<div class="attr-label-container attr-label col-xs-offset-<%=attrModel.get('offset')%> col-xs-<%=attrModel.get('titleLength')%>">
	    <b><%=attrModel.escape('description')%>:</b>
	</div>
	<input type="text"
	       class="attrField col-xs-<%=(attrModel.get('totalLength') - attrModel.get('titleLength') - attrModel.get('offset'))%>"
	       value=""/>


</div>